[k3s_server]
# staging ${staging_plane_public_ip} ansible_user=ubuntu 
# production ${prod_public_ip} ansible_user=ubuntu 

[k3s_agents]
# no workers

[all:vars]
ansible_user=ubuntu 
ansible_ssh_common_args='-o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -i ${identity}'